# ---- Flutter / Dart ----
.dart_tool/
.pub-cache/
build/
.env
*.iml

# ---- 编辑器 / 系统 ----
.idea/
.vscode/
*.swp
.DS_Store

# ---- 本地配置（不入库）----
android/local.properties
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
**/android/key.properties
**/android/app/key.properties

# ---- 运行产物 ----
coverage/
*.log

# ---- 临时 ----
*.tmp
